<div>
    <h2 class="projectTitle">Project 1 - The Dynamic Business Card</h2>
    <hr>
    <form>
        <fieldset>
            <legend>Modify Your Business Card</legend>
            <label>First Name</label><input id="firstNameInput" (input)="setProperty($event)"><br>
            <label>Last Name</label><input id="lastNameInput" (input)="setProperty($event)"><br>
            <label>Phone Number</label><input id="phoneNumberInput" (input)="setProperty($event)">
        </fieldset>
    </form>

    <button class="card">
        <div class="row clearfix">
            <div class="left big">{{phoneNumber}}</div>
            <div class="right">
                <p><span class="big">E</span>rnst &<span class="big"></span>ohn</p>
            </div>
        </div>
    </button>
</div>>