<div class="resume">
    <div class="personalInfo">
        <h1>{{bankerName}}</h1>
        <address>
            {{bankerAddress}}<br>
            {{bankerCity}},
            {{bankerState}} {{bankerZip}}<br>
            {{bankerPhone}}<br>
            {{bankerEmail}}
        </address>
    </div>

    <div class="summary">
        <h2> Summary </h2>
        <p>{{summary}}</p>
    </div>

    <div class="education">
        <h2> Education </h2>
        <p>{{school}}<span class="educationDates">{{schoolDates}}</span><br>
        {{schoolDegree}}
        </p>
    </div>

    <div class="experience">
        <h2> Experience </h2>
        <p> {{employerName}}, {{jobTitle}} <span class="employmentDates">{{employmentDates}}</span></p> 
        <ul>
            <li>
                Developed and deployed an automation script to delete files on communal computers on a weekly basis.
            </li>
            <li>
                Configure and manage Macs, iPads, and PCs of over 400 students, teachers and staff with MDM software Jamf.
            </li>
            <li>
                Configure and manage Macs, iPads, and PCs of over 400 students, teachers and staff with MDM software Jamf.
            </li>
            <li>
                Developed and provided documentation, tutorials and resources for systems distributed through Google Workspace.
            </li>
        </ul>
    </div>
</div>